%h2 
  Account Number: #{@bank_account.account_no}
  %small
    #{@bank_account.client}

= button_tag :new_transaction, id: "btn-transaction", class: "btn btn-primary" do
  New Transaction

#parameters{ data: {bank_account_id: @bank_account.id}}
  
= render partial: 'form'
= render partial: 'transaction', locals: {bank_account: @bank_account}


= javascript_include_tag "bank_accounts/Show"
:javascript
  $(document).ready(function(){
    Show.init();
  });
